body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	text-align: justify;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: #5DADE2;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
}

h1, h2{
	font-family: 'Amatic SC', cursive;
}

header h1{
	color: white;
	font-size: 80px;
}

header img{
	border-radius: 300px;
    border: 15px solid white; 
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-height: 600px;
	padding-top: 30px;
}

h2{
	font-size: 40px;
	color: #5DADE2;
	margin: 40px 0 20px;
}

a{
	color: #5DADE2;
}

a:hover{
	color: white;
	background-color: #5DADE2;
}

footer{
	background-color: #5DADE2;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: 50%;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 10;
	text-align: center;
}

img.center{
	display: block;
    margin-left: auto;
    margin-right: auto;
}